<div class="login-box card d-flex justify-content-center">
    <h1 class="d-flex justify-content-center">AGREGAR UN NUEVO EMPLEADO </h1>
    <div class="card-body">
        <form class="form-horizontal form-material" 
                autocomplete="off"
                [formGroup]="EmpleadoForm"
                (ngSubmit)="postEmpleado()"
                id="Empleadoform">

            <a href="javascript:void(0)" class="text-center db"></a>
            <div class="form-group m-t-40">
                <div class="col-xs-12">
                    <label>Clave</label>
                    <input class="form-control" 
                            type="text" 
                            placeholder="id_empleado"
                            formControlName="id_empleado">
                </div>
            </div>
            <div class="form-group m-t-40">
                <div class="col-xs-12">
                    <label>Nombre</label>
                    <input class="form-control" 
                            type="text" 
                            placeholder="nombre"
                            formControlName="nombre">
                </div>
            </div>
            <div class="form-group m-t-40">
                <div class="col-xs-12">
                    <label>Correo</label>
                    <input class="form-control" 
                            type="text" 
                            placeholder="correo"
                            formControlName="correo">
                </div>
            </div>
            <div class="form-group m-t-40">
                <div class="col-xs-12">
                    <label>Telefono</label>
                    <input class="form-control" 
                            type="text" 
                            placeholder="telefono"
                            formControlName="telefono">
                </div>
            </div>
            <div class="form-group m-t-40">
                <div class="col-xs-12">
                    <label>Area</label>
                    <select class="form-select" aria-label="Default select example" formControlName="id_area">
                        <option [ngValue]="area.id_area" *ngFor="let area of Area">{{area.descripcion}}</option>
                        </select>
                </div>
            </div>
 
            <div class="form-group text-center m-t-20">
                <div class="col-xs-6">
                    <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">CREAR</button>
                    <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="button" (click)="putEmpleado()">ACTUALIZAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>clave</th>
                                <th>nombre</th>
                                <th>correo</th>
                                <th>telefono</th>
                                <th>area</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let emp of Empleado">
                                <td> 
                                    {{emp.id_empleado}}
                                </td>
                                <td> 
                                    {{emp.nombre}}
                                </td>
                                <td> 
                                    {{emp.correo}}
                                </td>
                                <td> 
                                    {{emp.telefono}}
                                </td>
                                <td> 
                                    {{emp.id_area}}
                                </td>
                                <td class="text-nowrap text-center">
                                    <a (click)="getEmpleadosId(emp.id_empleado)"
                                        data-toggle="tooltip" 
                                        class="cursor"
                                        data-original-title="Guardar cambios"> 
                                        <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        Actualizar 
                                    </a>
                                    <a (click)="deleteEmpleado(emp.id_empleado)" 
                                        data-toggle="tooltip" 
                                        data-original-title="Borrar"
                                        class="cursor"> 
                                        <i class="fa fa-close text-danger">
                                            Borrar
                                        </i>
                                    </a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<a href="/areas">Areas</a>

